@import "../variables.scss";

.section {
    padding-bottom: 2rem;

    &::after {
        content   : "";
        display   : block;
        position  : absolute;
        top       : 0;
        bottom    : 0;
        left      : 0;
        right     : 0;
        background: rgba(0, 0, 0, 0.4);
    }

    .container {
        margin-top: 10rem;
        z-index   : 1;
        position  : relative;

        h2,
        p {
            color: $color-light;
        }
    }
}