@import '../../variables.scss';

.section {
    padding: 1rem;

    h1 {
        margin-bottom : 2rem;
        padding-bottom: 1rem;
        display       : inline-block;
        position      : relative;
        color         : $color-dark;

        &:before {
            content      : "";
            position     : absolute;
            width        : 50%;
            height       : 1px;
            bottom       : 0;
            left         : 0;
            border-bottom: 2px solid $color-dark;
        }
    }

    h2 {
        color: $color-dark;
    }

    p {
        color: $color-dark;
    }
}