.home-parallax {
    margin-top: 2rem;
    padding   : 5rem 0rem 5rem 0rem;

    h2 {
        font-size     : 3rem;
        margin-top    : 2rem;
        margin-bottom : 2rem;
        padding-bottom: 1rem;
        display       : inline-block;
        position      : relative;


        &:before {
            content      : "";
            position     : absolute;
            width        : 50%;
            height       : 1px;
            bottom       : 0;
            left         : 0;
            border-bottom: 2px solid $color-dark;
        }
    }

    p {        
        margin-bottom: 1rem;
    }

    .btn {
        padding  : 1rem 3rem 1rem 3rem;
        font-size: 1rem;
    }
}