@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
    font-family : "Lato-Regular";
    src         : url("/fonts/Lato/Lato-Regular.ttf");
    font-style  : normal;
    font-weight : 400;
    font-display: swap;
}

@font-face {
    font-family : "Lato-Bold";
    src         : url("/fonts/Lato/Lato-Bold.ttf");
    font-style  : bold;
    font-weight : 500;
    font-display: swap;
}