@import './variables.scss';
@import './font.scss';

$theme-colors: ("primary": $color-primary,
  "secondary": $color-secondary,
  "danger": $color-danger,
  "success": $color-success,
  "warning": $color-warning,
  "info": $color-info,
  "light": $color-light,
  "dark": $color-dark,
);
@import "~bootstrap/scss/bootstrap";
@import './Navbar.scss';
@import './HomeBanner.scss';
@import './modules/shortServices.scss';
@import './modules/homeParallax.scss';



html,
body {
  padding    : 0;
  margin     : 0;
  font-family: "Lato-Regular";
  color      : $color-dark;
}

.page-header {
  padding-bottom: 5rem;


  .container {
    margin-top: 5rem;

    h2,
    p {
      color: $color-light;
    }
  }
}


.blogList {
  h5 {
    font-size: 1rem;
  }
}

.footer {
  background-color: $color-dark;
  color           : $color-light;
  padding-top     : 2rem;
  padding-bottom  : 2rem;

  .list-group {
    .list-group-item {
      background-color: transparent;
      color           : $color-light;
      padding         : 0.5rem 0rem;
    }
  }
}