@import './variables.scss';
@import './font.scss';

$theme-colors: ("primary": $color-primary,
  "secondary": $color-secondary,
  "danger": $color-danger,
  "success": $color-success,
  "warning": $color-warning,
  "info": $color-info,
  "light": $color-light,
  "dark": $color-dark,
);
@import "~bootstrap/scss/bootstrap";

html,
body {
  padding    : 0;
  margin     : 0;
  font-family: "Lato-Regular";
  color      : $color-dark;
}

.footer {
  background-color: $color-dark;
  color           : $color-light;
  padding-top     : 2rem;
  padding-bottom  : 2rem;
}