@import './variables.scss';

.navbar {
    padding-top   : 1rem;
    padding-bottom: 1rem;
}

.bg-dark {
    background-color: $color-dark !important;

    .nav-link {
        color: $color-light !important;
    }
}

.bg-light {
    background-color: transparent !important;

    .navbar-brand {
        color: $color-light !important;
    }

    .nav-link {
        color: $color-light !important;
    }
}