$color-primary  : #ffd60a;
$color-secondary: #003566;
$color-danger   : #d00000;
$color-success  : #55a630;
$color-info     : #072ac8;
$color-warning  : #ffc300;
$color-light    : #ffffff;
$color-dark     : #001d3d;